.home{
    img{
        width: 100%;
        height: 100%;
    
    }
    .header-home{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 90px;
        .header-menu{
            .detail{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 35px;
                padding: 30px;
                color: #FFF;
                p{
                    margin-right: 20px;
                }
                img{
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .header-logo{
            text-align: center;
            padding: 30px;
            img{
                width: 80px;
                height: 80px;
            }
            p{
                color: #FFF;
            }

        }

    }
    .footer-home{
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 100;
        i{
            color: white;
            font-size: 30px;
            cursor: pointer;
        }
        .contact{
            margin-right: 80px;
            .contact-list{
                // display: none;
                display: flex ;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                margin-bottom: 30px;
            
                i{
                    border: 1px solid #FFF;
                    border-radius: 50%;
                    padding: 18px;
                }
            }
            .contact-menu{
                margin-bottom: 50px;
                position: relative;
                i{
                    padding: 18px;
                    border-radius: 50%;
                    border: 1px solid transparent;
                }
                .phone-1{
                    position: absolute;
                    top: 15px;
                    left: 4px;
                }
            }    

        }
        
    }
}
.contact-menu:hover .contact-list {
    display: flex ;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;

}
