@import '../src/scss/Helper/variable';
@import '../src/scss/Helper/mixin.scss';

@import '../src/scss/Reset/reset';

@import '../src/pages/Home/Home.scss';
@import '../src/pages/HomeMenu/HomeMenu.scss';
@import '../src/templates/DetailTemplate/DetailTemplate.scss';
@import '../src/pages/About/About.scss';




